@model WebDb1.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessTravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessTravel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attrition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attrition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkLifeBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkLifeBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformanceRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
