@model WebDb1.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsAtCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsAtCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockOption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockOption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumCompanies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumCompanies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
